[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
"bs4" = "*"
request = "*"
requests = "*"
nltk = "*"
"psycopg2" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.7"
